@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

body {
  padding: 50px;
}

body * {
  font-family: 'Lato', sans-serif;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
  background: #2c3338;
  color: #606468;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type="text"], input[type="password"], input[type="email"], input[type="submit"] {
  border: none;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

ul.errors {
  background: #F2473F;
  color: #fff;
  padding: 10px; 
  text-align: center; 
}

ul.success {
  background: #4AC948;
  color: #fff;
  padding: 10px; 
  text-align: center; 
}

.login-header {
  text-align: center;
  font-size:2em;
  font-weight: 300;
  color: #fff;
  margin-bottom: 30px;  
}

#login {
  width: 280px;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input[type="text"], input[type="password"], input[type="submit"] {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #2484de;
  color: #eee;
  font-weight: normal;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
  cursor: pointer;
}

#login form input[type="submit"]:hover {
  background-color: #268CEB;
}

#login > p {
  text-align: center;
  font-weight: 300;
}

#login > p > a {
  text-align: center;
  font-weight: 700;
}

#login > p span {
  padding-left: 5px;
}

/* ---------- REGISTER ---------- */

.register-header {
  text-align: center;
  font-size:2em;
  font-weight: 300;
  color: #fff;
  margin-bottom: 30px;  
}

#register {
  width: 280px;
}

#register form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  border: none;
  outline: none;
}

#register form input[type="text"], input[type="password"], input[type="submit"], input[type="email"] {
  height: 50px;
}

#register form input[type="text"], #register form input[type="password"], #register form input[type="email"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 280px;
}

#register form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #2484de;
  color: #eee;
  font-weight: normal;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
  cursor: pointer;
}

#register form input[type="submit"]:hover {
  background-color: #268CEB;
}

#register > p {
  text-align: center;
  font-weight: 300;
}

#register > p > a {
  text-align: center;
  font-weight: 700;
}

#register > p span {
  padding-left: 5px;
}


.button { /* clase general */
  border: 1px solid #dedede;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 8px 11px;
  text-decoration: none;
}

.button.white{
  background: #f5f5f5;
  border-color: #dedede #d8d8d8 #d3d3d3;
  box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: -webkit-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: o-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: ms-linear-gradient(top,  #f9f9f9, #f0f0f0);
  background: linear-gradient(top,  #f9f9f9, #f0f0f0);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0');
}

p 
{ 
color: white;
font-weight: 700;
}

.texto{
color: white;
}

header {
  background: url("banda.jpg") repeat-x;
  width: 100%;
  height: 100%;
background-position: top;
  text-align:center;
  text-decoration-color: currentColor; 
    color: white;
}

.cabecera2 {
  background: url("cabecera2.jpg") repeat-x;
  width: 100%;
  height: 200%;
  text-align: center;
  text-decoration-color:currentColor;
}

.trasfondo {
background: url("trasfondo.jpg") repeat-x;
}

table {
    align-self: center;
    border-collapse: separate;
    text-align: center;
    font-family:sans-serif;
}

table, th, td {
    border: 2px solid white;
    color: white; 
}

.titulo{
text-align: center;
font-family: sans-serif;
color: white;
}

.subtitulo{
text-align: center;
font-family: sans-serif;
color: white;
}

.refs{
    color:white;
    font-size: 18pt;
}

.refstext{
color:white;
font-size: 8pt;
}

.pregunta{
    font-style: italic;
    font-weight: 550;
}

.image {
    position: absolute;
    top: 100px;
    right: 300px;
}

.transp-block {
    background: #000 url(watermark.jpg) no-repeat;
    width: 575px;
    height: 335px;
}
img.transparent {
    filter:alpha(opacity=75);
    opacity:.75;
}

/* ---------- HOME ---------- */


.user-name {
  text-align: center;
  font-size: 2em;
  color: #fff;
  font-weight: 100;
  margin-top: 20px;
}

.create {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  margin-left: -200px;
  margin-top: -150px;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.modal.active {
  display: block;
}
.modal header {
  position: relative;
}
.modal h2 {
  color: #444;
  font-size: 1.7em;
  margin-bottom: 20px;
  text-align: center;
}
.modal .close {
  position: absolute;
  top: 3px;
  right: 0;
  margin: 0;
}

.pull-right {
  float: right;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #007aff;
  font-weight: 300;
  font-size: 16px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  /*  &:last-child {
      border-color: red;
      margin-bottom: 0;
    }*/
}
button:hover {
  text-decoration: underline;
}

.modal input {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  background-color: #3b4148;
  border-radius: 3px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
}

/* ---------- NAV ---------- */
#main-nav {
  position: fixed;
  height: 50px;
  top: 0;
  margin: 0 auto;
  left: 0;
  background: #fff;
  width: 100%;
}

#main-nav ul li {
  display: inline-block;
  padding: 10px;
  height: 50px;
  max-height: 50px;
  line-height: 30px;  
}

#main-nav ul li:hover {
  background: rgba(240, 240, 240, 1);
}

#main-nav ul li a{
  color: #333;
  line-height: 
}

#main-nav ul li a:hover{
  text-decoration: none;
}

/* ---------- BUTTONS ---------- */

.button {
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 7px 10px;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 16.795%;
  text-align: center;
  text-decoration: none;
}

.button.green:hover {
  text-decoration: none;
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
}
.button.green {
  background: none repeat scroll 0 0 #46b98a;
  color: #FFFFFF;
}
.button.blue {
  background: none repeat scroll 0 0 #2DB6CF;
  color: #FFFFFF;
}
.button.blue:hover {
  background: none repeat scroll 0 0 #444444;
  color: #FFFFFF;
}
.button.red {
  background: none repeat scroll 0 0 #E0645C;
  color: #FFFFFF;
}
.button.red:hover {
  background: none repeat scroll 0 0 #999999;
  color: #FFFFFF;
}

.modal .button {
  width: auto;
}
